# Service account credentials
ga-token/
*.json
*.key
*.pem
*.p12
*.pfx
*.cer
*.crt
*.der
*.p7b
*.p7c
*.p7m
*.p7s
*.p8
*.pk8
*.pkcs12
*.pfx
*.p12
*.pem
*.key
*.crt
*.cer
*.der
*.p7b
*.p7c
*.p7m
*.p7s
*.p8
*.pk8
*.pkcs12 